{% extends "base.html" %}


{% block title %} Edit {% endblock %}
{% block content %}

<div class="row">
    <div class="col"><h2 class="text-center my-3">Сервис управлению TV контентом</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class="my-2">Для изменения параметров ТВ-контента укажите данные:</h4>
        <form method="POST" action="{% url 'list' %}" >
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>

{% endblock %}