{% extends "base.html" %}

{% block title %} List {% endblock %}

{% block content %}
        <form method="POST">
        <h3 class="my-4 text-center"> Список услуг для отеля  "{{ hotel_name }}" (г.{{ hotel_city }}): </h3>
            {% csrf_token %}
            {{ formset.as_table }}

<!--        {% for obj in formset %}-->

<!--        <div class="card my-3" xmlns="http://www.w3.org/1999/html">-->
<!--          <h5 class="card-header">Категория номера: <strong>{{ obj.name }}<strong></h5>-->
<!--          <div class="card-body">-->
<!--              <p class="card-text">Тариф включен: {{ obj.plan }}</p>-->
<!--              <p>Фильм включен: <strong>{{ obj.film }}</strong></p>-->
<!--              <p>Депозит: <strong>{{ obj.deposit }}</strong></p>-->
<!--              <div class="mb-3">-->
<!--                {% csrf_token %}-->
<!--              </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        {% endfor %}-->
        <button type="submit" class="btn btn-primary" >Сохранить</button>
        </form>


{% endblock %}